<% if current_user %>
  <h3>Post a Comment as <%="#{current_user.username}"%></h3>

  <%= form_for [@article, @comment ] do |f| %>
    <p>
      <% @comment.author_name = current_user.username %>
      
    </p>
    <p>
      <%= f.label :body, "Your Comment" %><br />
      <%= f.text_area :body %>
    </p>
    <p>
      <%= f.submit 'Submit' %>
    </p>
  <% end %>
<% else %>
  <h3>Log in to Post a Comment</h3>
<% end %>