<h1><%= @article.title %></h1>
<% if @article.image.exists? %>
  <p><%= image_tag @article.image.url(:medium) %></p>
<% end %>
<p>

  Tags:
  <% if @article.tags.size > 0 %>
    <% @article.tags.each do |tag| %>
      <%= link_to tag.name, tag_path(tag)%>
    <% end %>
  <% else %>
    <%= "None" %>
  <% end %>


</p>
<p><%= @article.body %></p>
<%= link_to "Back to Articles", articles_path %><br>
<% if logged_in? %>
  <%= link_to "Delete", article_path(@article), method: :delete, data: {confirm: "Really delete the article?"} %>
  <%= link_to " Edit", edit_article_path(@article) %>
<% end %>

<h3>Comments (<%= @article.comments.size %>)</h3>
<%= render partial: 'comments/form' %>
<%= render partial: 'articles/comment', collection: @article.comments.reverse %>
