<!DOCTYPE html>
<html>
  <head>
    <title>Leetie's Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon-32x32.png') %>
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap" rel="stylesheet"> 
  </head>

  <body>
    <p class="flash"><%= flash.notice %></p>
    <%= link_to "Articles", articles_path %>
    <%= link_to "Tags", tags_path%>
    <% if logged_in? %>
      <%= link_to "Your Account", author_path(current_user.id)%>
    <% end %>
    <div id="container">
      <div id="content">
        <%= yield %>
        <hr>
        <h6>
          <% if logged_in? %>
            <%= "Logged in as #{current_user.email}" %>
            <%= link_to "(logout)", logout_path %>
          <% else %>
            <%= link_to "(login)", login_path %>
            <%= link_to "(new account)", new_author_path %>
          <% end %>
        </h6>
      </div> <%# content%>
    </div>  <%# container%>
  </body>
</html>
